In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [6]:
df = pd.read_csv("TMDb_updated.CSV")

In [7]:
df.head()

   Unnamed: 0                           title  ... vote_count vote_average
0           0                        Ad Astra  ...       2853          5.9
1           1                       Bloodshot  ...       1349          7.2
2           2               Bad Boys for Life  ...       2530          7.1
3           3                         Ant-Man  ...      13611          7.1
4           4  Percy Jackson: Sea of Monsters  ...       3542          5.9

[5 rows x 6 columns]

In [8]:
def short_word(columns,word):
    list_word = []
    for i in range(len(columns)):
        phrase = str(columns[i])
        phrase = phrase.replace(",","")
        phrase = phrase.replace(".","")
        phrase = phrase.split(" ")
        phrase = np.array(phrase)
        phrase = np.unique(phrase)
        phrase = list(phrase)
        for i in word:
            if i in phrase:
                phrase.remove(i)
        phrase = (" ".join(phrase)).replace("'","")
        list_word.append(phrase)
    return list_word

In [9]:
word = ['to','all','into','the','once','no','is','and','due','for','in','of','with','be','With','more','may','A','As','as','a','from','any','up','has','have','use']

text = short_word(df['overview'],word)
df['filter'] = text
print(df['filter'][63])

- Avengers Earth Everything Infinity Stones Thanos allies artifacts been collect continued cosmic danger despot emerged existence fate fought goal handle hero his infamy inflict intergalactic itself large led moment never new on one power protect reality shadows: six their them this threats too twisted uncertain unimaginable will world

In [10]:
print(df.shape)
df = df.dropna()
print(df.shape)

(10000, 7)
(9970, 7)

In [12]:
cv = CountVectorizer()
count = cv.fit_transform(df['filter'])

In [13]:
sim = cosine_similarity(count)

In [14]:
def get_index(title):
  return df[df.title == title].index.values[0]

In [28]:
movie_id = get_index("Avengers: Infinity War")
movie_id

63

In [29]:
similar_movie = list(enumerate(sim[movie_id]))
sorted_movie = sorted(similar_movie,key=lambda x:x[1],reverse=True)

In [30]:
for i in range(20):
  print(df[df.index == sorted_movie[i][0]]["title"].values[0])

Avengers: Infinity War
The Happytime Murders
12 Years a Slave
Final Fantasy VII: Advent Children
Incarnate
Hurricane Bianca: From Russia with Hate
Most Wanted
Visions
Tales from Earthsea
Don't Tell Mom the Babysitter's Dead
Sonic the Hedgehog
Showgirls
Avengers: Endgame
Kamen Rider Reiwa: The First Generation
Phenomenon
Lovelace
Valmont
Ant-Man
Castle in the Sky
A Ghost Story