In [30]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

data :- https://www.kaggle.com/uciml/mushroom-classification/version/1

In [31]:
data = pd.read_csv("mushrooms.csv")
data.head()

  class cap-shape cap-surface  ... spore-print-color population habitat
0     p         x           s  ...                 k          s       u
1     e         x           s  ...                 n          n       g
2     e         b           s  ...                 n          n       m
3     p         x           y  ...                 k          s       u
4     e         x           s  ...                 n          a       g

[5 rows x 23 columns]

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8124 entries, 0 to 8123
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   class                     8124 non-null   object
 1   cap-shape                 8124 non-null   object
 2   cap-surface               8124 non-null   object
 3   cap-color                 8124 non-null   object
 4   bruises                   8124 non-null   object
 5   odor                      8124 non-null   object
 6   gill-attachment           8124 non-null   object
 7   gill-spacing              8124 non-null   object
 8   gill-size                 8124 non-null   object
 9   gill-color                8124 non-null   object
 10  stalk-shape               8124 non-null   object
 11  stalk-root                8124 non-null   object
 12  stalk-surface-above-ring  8124 non-null   object
 13  stalk-surface-below-ring  8124 non-null   object
 14  stalk-color-above-ring    8124 non-null   object
 15  stalk-color-below-ring    8124 non-null   object
 16  veil-type                 8124 non-null   object
 17  veil-color                8124 non-null   object
 18  ring-number               8124 non-null   object
 19  ring-type                 8124 non-null   object
 20  spore-print-color         8124 non-null   object
 21  population                8124 non-null   object
 22  habitat                   8124 non-null   object
dtypes: object(23)
memory usage: 1.4+ MB

In [33]:
le = LabelEncoder()

## Label Enoding

In [34]:
df = data.apply(le.fit_transform,axis=0)

In [35]:
df.head()

   class  cap-shape  cap-surface  ...  spore-print-color  population  habitat
0      1          5            2  ...                  2           3        5
1      0          5            2  ...                  3           2        1
2      0          0            2  ...                  3           2        3
3      1          5            3  ...                  2           3        5
4      0          5            2  ...                  3           0        1

[5 rows x 23 columns]

## Prepare the training and testing datasets

In [36]:
x = df.iloc[:,df.columns != 'class']
y = df['class']

In [37]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [38]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(6499, 22) (1625, 22) (6499,) (1625,)

#NaiveBayes Algorithm

In [39]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [40]:
nb.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [41]:
print("Score: ",nb.score(X_test,y_test))

Score:  0.8098461538461539

#LogisticRegression

In [67]:
from sklearn.linear_model import LogisticRegression
lg = LogisticRegression(solver='liblinear',penalty='l1')

In [68]:
lg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l1',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [69]:
print("Score: ",lg.score(X_test,y_test)*100)

Score:  96.3076923076923

In [70]:
test_data = x.iloc[1:2]

In [71]:
y_pred = lg.predict(test_data)
y_pred

array([0])

#Perceptron

In [83]:
from sklearn.linear_model import Perceptron
pt = Perceptron(penalty='l2')

In [84]:
pt.fit(X_train,y_train)

Perceptron(alpha=0.0001, class_weight=None, early_stopping=False, eta0=1.0,
           fit_intercept=True, max_iter=1000, n_iter_no_change=5, n_jobs=None,
           penalty='l2', random_state=0, shuffle=True, tol=0.001,
           validation_fraction=0.1, verbose=0, warm_start=False)

In [85]:
print("Score: ",pt.score(X_test,y_test)*100)

Score:  73.53846153846155