In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('NFLX.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

In [7]:
x = np.array(df['Open']).reshape(-1,1)
y = df['Close']

In [8]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [9]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(3899, 1) (975, 1) (3899,) (975,)

In [10]:
ln = LinearRegression()

In [11]:
ln.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
print("score: ",ln.score(X_test,y_test)*100)

score:  99.93923074692738

In [15]:
print("Score of trainin data: ",ln.score(X_train,y_train)*100)

Score of trainin data:  99.94214646270714

In [18]:
test  = np.array(x[0]).reshape(-1,1)
test

array([[1.156429]])

In [20]:
ln.predict(test)

array([1.18789093])

In [22]:
from sklearn.metrics import mean_squared_error

In [24]:
y_pred = ln.predict(X_test)
mse = mean_squared_error(y_test,y_pred)
mse

15.21404905380067

In [25]:
np.sqrt(mse)

3.900519074918192